.type {
    width:100%;height:360px;background:#999;
    .title {
        width:1200px;height:62px;margin:0 auto;
        a {font-size:12px;line-height:62px}
    }
    .box {
        position:relative;
        width:1200px;height:234px;background:#fff;margin:0 auto;
       .paizi {width:1088px;height::233px;background:#fff;position:absolute;top:0;right:0;
           li {width:98px;height:98px;float:left;list-style: none;border:1px solid #ccc}
       }
    }
}
.goods {
    width:100%;
    height:1800px;
    background:#ccc;
}
