ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.head {
  width: 100%;
  height: 163px;
  background: #fff;
  position: relative;
}

.head .img {
  position: absolute;
  left: 18px;
  top: 18px;
}

.head .topbar {
  width: 1200px;
  height: 30px;
  margin: 0 auto;
}

.head .topbar .list {
  float: right;
}

.head .topbar .list li {
  float: left;
  height: 30px;
  line-height: 30px;
  margin: 0 18px;
  font-size: 12px;
  color: #999;
}

.head .topbar .list li a {
  color: #999;
}

.head .topbar .list li a:hover {
  color: #463b7f;
}

.head .topbar .list li .hover {
  color: #463b7f;
}

.head .topbar .list li ul {
  display: none;
  background: #f5f5f5;
}

.head .topbar .list li ul li {
  float: none;
  width: 60px;
  padding: 0;
}

.head .searchbar {
  width: 1200px;
  height: 133px;
  margin: 0 auto;
  position: relative;
}

.head .searchbar .search {
  width: 485px;
  height: 37px;
  position: absolute;
  left: 249px;
  top: 25px;
  z-index: 5;
  border: 2px solid #463b7f;
}

.head .searchbar .search input {
  width: 416px;
  height: 31px;
}

.head .searchbar .search .btn {
  float: right;
  width: 65px;
  height: 37px;
  background: #463b7f;
  color: #fff;
  text-align: center;
  line-height: 37px;
}

.head .searchbar .hot {
  width: 653px;
  height: 15px;
  position: absolute;
  left: 249px;
  top: 68px;
}

.head .searchbar .hot a {
  color: #999;
  font-size: 12px;
  padding-right: 18px;
  line-height: 15px;
}

.head .searchbar .hot a:hover {
  color: red;
  text-decoration: underline;
}

.head .searchbar .apps {
  position: absolute;
  top: -2px;
  right: 11px;
}

.head .searchbar .head_navBar {
  width: 926px;
  height: 45px;
  position: absolute;
  right: 25px;
  bottom: 0;
  overflow: hidden;
}

.head .searchbar .head_navBar a {
  font-size: 12px;
  color: #333;
  padding-right: 40px;
  height: 20px;
  margin-top: 20px;
  display: inline-block;
}

.head .searchbar .head_navBar a:hover {
  color: blue;
}

.head .allgoods {
  position: absolute;
  top: 129px;
  left: 50%;
  margin-left: -600px;
}

.head .allgoods .top {
  width: 180px;
  height: 34px;
  background: #382f6b;
}

.head .allgoods .top a {
  color: #fff;
  text-align: center;
  display: block;
  line-height: 34px;
  font-size: 12px;
}

.head .allgoods .content {
  width: 180px;
  height: 540px;
  background: #382f6b;
  display: none;
}

.head .allgoods .content div {
  height: 60px;
  width: 100%;
  position: relative;
}

.head .allgoods .content div a {
  color: #fff;
  font-size: 12px;
  padding-left: 5px;
}

.head .allgoods .content div span {
  color: #fff;
  font-size: 12px;
}

.head .allgoods .content div ul {
  width: 400px;
  height: 400px;
  background: white;
  position: absolute;
  left: 180px;
  top: 0;
  display: none;
  border: 2px solid #382f6b;
}
